.Notfound {
  width: 100%;
  min-height: calc(100vh - 60px);
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;

  color: #ffffff;

  display: flex;
  align-items: center;
}
.NotF__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

@media screen and (min-width: 768px) {
  .NotF__col {
    align-items: flex-start;
  }
}
