.BadgesList ul > li {
  margin-bottom: 3rem;
}

.BadgesListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 25px;
  display: flex;
  padding: 0.5rem;
  margin-top: 1rem;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}

.Twitter__name {
  color: #1da1f2;
}
.Twitter__logo {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../../images/Twitter_Logo_Blue.svg");
  margin-right: 0.3rem;
  vertical-align: middle;
}
